
<div class="container-fluid grid text-center mt-5" >
  <form action="" class="form-content">
    <div class="p-3">
      <label for="user name">First Name:</label>
      <input type="text" placeholder="First Name">
    </div>

    <div class="p-3">
      <label for="Last name" class="p-1 m-1">Last Name:</label>
      <input type="text" placeholder="Last Name">
    </div>

    <div class="p-3">
      <label for="Email">Email:</label>
      <input type="text" placeholder="Email">
    </div>

    <div class="p-3">
      <label for="Password">Password:</label>
      <input type="password" placeholder="Password">
    </div>

    <div class="p-3">
      <label for="Confirm Password">Confirm Password:</label>
    </div>

    <div>
      <label for="Phone Number">Phone Number:</label>
      <input type="number" placeholder="Phone Number">
    </div>

    <div class="p-3">
      <input type="radio" name="gender">
      <label for="Male">Male</label>
      <input type="radio" name="gender">
      <label for="Female">Female</label>
    </div>

    <button routerLink="/home">Sign Up</button>
  </form>
</div>
