
<div class="container full-height" >
  <div class="grid text-center" >
    <form action="">
      <div class="image-container">
        <img src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1721433600&semt=ais_user" alt="profile image" class="img-fluid">
      </div>
      <div class="row justify-content-center w-100 ">
        <div class="p-1 ">
          <label for="Email" class="p-3 m-2">Email:</label>
          <input type="text" placeholder="Email">
        </div>
        <div class="p-1">
          <label for="Password" class="p-3 m-2" >Password:</label>
          <input type="password" placeholder="Password">
        </div>
      </div>
      <button routerLink="/home" class="m-4">Login</button>
      <br>
      <label for="register">Don't have a account! Just <a routerLink="/registration">Sign Up</a> </label>
    </form>
  </div>
</div>
