/* .navbar-custom {
  --shine-deg: 45deg;
  position: relative;
  overflow: hidden;
  padding: 2rem 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15);

  background: linear-gradient(to bottom, #FFD700, #ffdc73, #FFD700);
} */
